<h1>Detail</h1>

<!--
<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div><label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
</div>
      
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>name</th>
          <th>price</th>
          <th>img</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{hero.name}}</td>
          <td>{{hero.price}}</td>
          <td><img [attr.src]='hero.imgUrl'/></td>
        </tr>
      </tbody>
    </table>
  </div>
  -->

<div *ngIf="hero">
  <md-card>
    <md-card-header>
      <p>{{hero.name}}</p>
    </md-card-header>
    <img md-card-md-image src='{{hero.imgUrl}}' />
    <md-card-content>
      <p>{{hero.price}}</p>
    </md-card-content>
    <md-card-actions>
      <label>name: </label>
      <md-input-container>
        <input mdInput [(ngModel)]="hero.name" />
      </md-input-container>
      <button md-button (click)="save()">Save</button>
    </md-card-actions>
  </md-card>
</div>

<button md-button (click)="goBack()">Back</button>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>