<p>
  prod-list works!
</p>

<md-input-container>
  <input mdInput placeholder='Enter type' [formControl]='searchInput' [mdAutocomplete]='auto'>
</md-input-container>
<md-autocomplete #auto='mdAutocomplete'>
  <md-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option }}
  </md-option>
</md-autocomplete>

<hr/>

<div *ngIf='heroes'>

  <md-card *ngFor="let hero of heroes" (click)='onSelect(hero)' [class.selected]='hero === selectedHero'>
    <md-card-header>
      <md-card-title>{{hero._id}}</md-card-title>
      <md-card-subtitle>{{hero.type}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src='{{hero.imgUrl}}' />
    <md-card-content><h2>{{hero.name}}</h2></md-card-content>
    <md-card-actions>
      <button md-fab class="delete" (click)="delete(hero); $event.stopPropagation()">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-card-actions>
    <md-card-footer>{{hero.price | currency}}</md-card-footer>
  </md-card>

</div>

<!--
<div *ngIf='heroes'>
  <md-list>
    <md-list-item *ngFor="let hero of heroes" (click)='onSelect(hero)' [class.selected]='hero === selectedHero'>
      <img md-list-avatar src='{{hero.imgUrl}}' />
      <p md-line><span>{{hero.id}}</span> {{hero.type}} {{hero.name}} {{hero.price}}</p>
      <button md-fab class="delete" (click)="delete(hero); $event.stopPropagation()">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-list-item>
  </md-list>
</div>
-->

<div *ngIf="selectedHero">
  <button md-raised-button (click)="gotoDetail()">View Details</button>
  <h2>
    {{selectedHero.name | uppercase}} is selected.
  </h2>
</div>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>