<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">

<md-toolbar color='primary'>
    <md-icon md-svg-src="url-of-icon" aria-label="label" class="snumber"></md-icon>
    <span>{{title}}</span>
</md-toolbar>

<nav md-tab-nav-bar>
  <a md-tab-link mdTooltip='Please logon!'
     *ngFor="let link of navLinks"
     [routerLink]="link"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    <md-icon>home</md-icon>{{link | uppercase}}
    
  </a>
</nav>

<router-outlet></router-outlet>
</div>

<!-- <router-outlet name="popup"></router-outlet> -->