<h2>My Heroes</h2>
<!--
<div *ngIf='heroes'>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)='onSelect(hero)' [class.selected]='hero === selectedHero'>
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
  </ul>
-->
<md-input-container>
  <input mdInput placeholder='Enter type' [formControl]='searchInput' [mdAutocomplete]='auto'>
</md-input-container>
<md-autocomplete #auto='mdAutocomplete'>
  <md-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option }}
  </md-option>
</md-autocomplete>

<div *ngIf='heroes'>
  <md-list>
    <md-list-item *ngFor="let hero of heroes" (click)='onSelect(hero)' [class.selected]='hero === selectedHero'>
      <img md-list-avatar src='{{hero.imgUrl}}' />
      <p md-line> <span>{{hero.id}}</span> {{hero.type}} {{hero.name}} {{hero.price}}</p>
      <button md-fab class="delete" (click)="delete(hero); $event.stopPropagation()">
        <md-icon>delete_forever</md-icon>
      </button>
    </md-list-item>
  </md-list>
</div>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>

  <!-- reactive form - editing -->
  <form [formGroup]="heroForm" (ngSubmit)='onSubmit()' novalidate>
    <fieldset>
      <!-- 
      <div class="form-group" [ngClass]="{'has-error': formError.id }">
        <label>ID:</label>
        <md-input-container>
          <input mdInput type='number' placeholder='ID' formControlName="id">
        </md-input-container>
        <span class='help-block' *ngIf="formError.id">{{formError.id}}</span>
      </div>
      -->
      <div class="form-group" [ngClass]="{'has-error': formError.name }">
        <label>Name:</label>
        <md-input-container>
          <input type='text' mdInput formControlName="name">
        </md-input-container>
        <span class='help-block' *ngIf='formError.name'>{{formError.name}}</span>
      </div>
      <!--  
        <span class='errors' *ngIf="heroForm.get('name').invalid && heroForm.get('name').touched">
      <span *ngIf="heroForm.get('name').hasError('required')"> {{titleAlert}}</span>
        <span *ngIf="heroForm.get('name').hasError('minlength')">Min 3 chars</span>
        <span *ngIf="heroForm.get('name').hasError('notmatch')"> {{name.errors.nomatch.expected}}</span>
        </span>
      -->

      <div class="form-group" [ngClass]="{'has-error': formError.price }">
        <label>Price:</label>
        <md-input-container>
          <input type='text' mdInput formControlName="price">
        </md-input-container>
        <span class='help-block' *ngIf='formError.price'>{{formError.price}}</span>
      </div>

      <div class="form-group" [ngClass]="{'has-error': formError.type }">
        <label>Type:</label>
        <md-input-container>
          <input type='text' mdInput formControlName="type">
        </md-input-container>
        <span class='help-block' *ngIf='formError.type'>{{formError.type}}</span>
      </div>

      <button md-raised-button type="submit" [disabled]="heroForm.pristine">Save</button>

    </fieldset>
  </form>

  <p>Form value: {{ heroForm.value | json }}</p>
  <p>Form status: {{ heroForm.status | json }}</p>

  <p>name err: {{ heroForm.get('name').errors | json}}</p>
  <p>price err: {{ heroForm.get('price').errors | json}}</p>


<!-- <label>Hero name:</label> <input #heroName /> -->
<hr>

<button md-raised-button (click)="gotoDetail()">View Details</button>
</div>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>