/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */

/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:400,300";

html, body {
  background: lightgray;
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 1em;
  height: 100%;
  /* background: lightblue; */
}

.has-error .form-control,
.input-validation-error {
   border: 1px solid #f44336 !important;
   -webkit-box-shadow: none !important;
   -ms-box-shadow: none !important;
   box-shadow: none !important;
}

